.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  padding-bottom: 1px;
  display: flex;
  gap: 32px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  font-style: normal;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  background-image: url(../images/cover.jpg);
}

.heading {
  padding: 165px 50px 106px;
}

.description {
  padding: 0 50px 50px;
}

.lots {
  margin: 180px 24px 120px;
}

.heading-lots {
  padding-left: 40px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.logo-background {
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-white {
  
  width: 148px;
}

.about {
  margin: 0 24px 180px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 82px;
}

.navigation-list-footer {
  flex-direction: column;
}

.social-links {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-item {
  width: 48px;
  list-style: none;
}