.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  padding-bottom: 1px;
  display: flex;
  gap: 32px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  font-style: normal;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  padding: 155px 50px 50px;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  padding-bottom: 96px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.35;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  display: grid;
  grid-template-columns: 3fr 1.02fr;
  font-size: 22px;
  text-transform: uppercase;
  height: 51px;
}

.cover__description-text {
  align-content: center;
  word-spacing: 19px;
}

.bet-button {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  margin: 30px 0;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
  color: #fff;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  z-index: -1;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
}

.card__text {
  font-size: 20px;
}

.logo-background {
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-white {
  
  width: 148px;
}

.about {
  margin: 0 24px 180px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 82px;
}

.navigation-list-footer {
  flex-direction: column;
}

.social-links {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-item {
  width: 48px;
  list-style: none;
}